/* Custom Styles for Kult Pages */

/* This is just test code  below */

header#masthead.site-header {
	color: var(--kult-color-white);
	background: var(--kult-color-black);
}
/* stylelint-disable */
.kult-page_main {
	& h1 {
		color: var(--kult-color-orange);
	}
}
/* stylelint-enable */
