/* -- [ COMPONENT : FOOTER NAVIGATION ] --------------------------*/

.c-footer-nav {
	display: flex;
	max-width: 100%;
	justify-content: center;
	align-items: center;
	margin: 0 40px 20px 40px;
}

.c-footer-nav_ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.c-footer-nav_li {
	display: flex;
	flex-direction: column;
}

.c-footer-nav_link,
.c-footer-nav_link:visited {
	color: var(--color-kult-white);
	font-family: var(--kult-highlight-font-family);
	font-weight: 600;
	font-size: 21px;
	padding: 15px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.01);
	text-shadow: 0 0 0 rgba(0, 0, 0, 0.01);
	filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.01));
}

.c-footer-nav_link:hover,
.c-footer-nav_link:focus,
.c-footer-nav_link:active {
	color: var(--color-kult-orange);
	background-color: rgba(0, 0, 0, 0.1);
	text-shadow: 0 0 5px rgba(0, 0, 0, 1);
	filter: drop-shadow(0 0 2px rgba(0, 0, 0, 1));
}

@media (min-width: 576px) {

	.c-footer-nav {
		flex: 1;
	}

	.c-footer-nav_li {
		align-items: flex-end;
	}
}
