/* -- [ COMPONENT : FOOTER-Social-Media ] --------------------------*/
.c-footer-social-media {
	display: flex;
	flex-direction: row;
	flex: 1;
	width: 100%;
	min-width: 100%;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	margin: 0 auto;
	list-style: none;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	transition: var(--kult-transition, all 0.35s ease-in);
}

.c-footer-social-media_li {
	display: flex;
}

.c-footer-social-media_img path {
	fill: var(--color-kult-white);
	transition: var(--kult-transition, all 0.35s ease-in);
}

.c-footer-social-media_link:hover .c-footer-social-media_img path,
.c-footer-social-media_link:focus .c-footer-social-media_img path,
.c-footer-social-media_link:active .c-footer-social-media_img path {
	fill: var(--color-kult-orange) !important;
	transition: var(--kult-transition, all 0.35s ease-in);
}

.c-footer-social-media_img {
	margin: 20px;
	height: 60px;
	width: auto;
	transition: filter 0.35s ease-in;
	filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.01));
}

.c-footer-social-media_link:hover .c-footer-social-media_img,
.c-footer-social-media_link:focus .c-footer-social-media_img,
.c-footer-social-media_link:active .c-footer-social-media_img {
	filter: drop-shadow(0 0 20px rgba(0, 0, 0, 1));
}

@media (min-width: 1100px) {

	.c-footer-social-media {
		display: none;
	}
}
