/* -- [ COMPONENT : HEADER ] --------------------------*/

.c-header {
	background: #16161d;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	height: 40px;
	color: var(--color-kult-white);
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 10;
}

.c-header_container {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	width: 100%;
	max-width: 1100px;
	height: 100%;
}

.c-header_container-inner {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

/* -- Header Logo -- */

.c-header_logo {
	align-self: flex-start;
	z-index: 1000;
	transition: var(--kult-transition, all 0.35s ease-in);
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.01);
	font-size: 0;
	margin: 0;
}

.c-header_logo:hover,
.c-header_logo:focus,
.c-header_logo:active {
	box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

/* -- Header Logo Large -- */

.c-header_logo:hover #kult-logo-lg .st0,
.c-header_logo:focus #kult-logo-lg .st0,
.c-header_logo:active #kult-logo-lg .st0 {
	fill: #17181e;
	stroke: var(--color-kult-white);
	stroke-miterlimit: 10;
}

.c-header_logo:hover #kult-logo-lg .st1,
.c-header_logo:focus #kult-logo-lg .st1,
.c-header_logo:active #kult-logo-lg .st1 {
	fill: var(--color-kult-white);
}

.c-header_logo:hover #kult-logo-lg .st2,
.c-header_logo:focus #kult-logo-lg .st2,
.c-header_logo:active #kult-logo-lg .st2 {
	fill: var(--color-kult-orange);
}

/* -- Large Logo Small -- */
.c-header_logo:hover #kult-logo-sm .st0,
.c-header_logo:focus #kult-logo-sm .st0,
.c-header_logo:active #kult-logo-sm .st0 {
	fill: var(--color-kult-orange);
}

.c-header_logo:hover #kult-logo-sm .st1,
.c-header_logo:focus #kult-logo-sm .st1,
.c-header_logo:active #kult-logo-sm .st1 {
	fill: var(--color-kult-white);
}

.c-header_logo-img {
	height: 42px;
}

.c-header_logo-img > * {
	-webkit-transition: fill 0.25s ease;
	transition: fill 0.25s ease;
}

.c-header #kult-logo-lg {
	display: none;
}

@media (min-width: 576px) {

	.c-header {
		height: 120px;
		-webkit-transition: all 0.25s ease-in-out;
		transition: all 0.25s ease-in-out;
	}

	.c-header--scroll {
		height: 52px;
	}

	.c-header_logo-img {
		height: 160px;
		-webkit-transition: all 0.25s ease-in-out;
		transition: all 0.25s ease-in-out;
	}

	.c-header_logo-img--scroll {
		height: 74px;
	}

	.c-header #kult-logo-sm {
		display: none;
	}

	.c-header #kult-logo-lg {
		display: block;
	}
}

@media (min-width: 1100px) {

	.c-header_container-inner {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}
}
