/* -- [ COMPONENT : FOOTER ] --------------------------*/

.c-footer {
	display: flex;
	background-color: #16161d;
	background-color: var(--color-kult-black, #16161d);
	width: 100%;
	min-height: 300px;
	color: var(--color-kult-white);
	position: relative;
}

.c-footer a {
	color: var(--color-kult-white);
}

.c-footer_container {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	max-width: 1100px;
	margin: 20px auto;
}

.c-footer_logo-link,
.c-footer_logo-link:visited {
	display: flex;
	align-self: center;
	margin: 20px 40px 40px;
}

.c-footer_logo-img path {
	fill: var(--color-kult-white);
	opacity: 0.5;
	filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.01));
	transition: var(--kult-transition, all 0.35s ease-in);
}

.c-footer_logo-link:hover .c-footer_logo-img path,
.c-footer_logo-link:focus .c-footer_logo-img path,
.c-footer_logo-link:active .c-footer_logo-img path {
	fill: var(--color-kult-orange) !important;
	opacity: 1;
}

.c-footer_logo-img {
	height: 160px;
	filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.1));
	transition: var(--kult-transition, all 0.35s ease-in);
}

.c-footer_logo-link:hover .c-footer_logo-img,
.c-footer_logo-link:focus .c-footer_logo-img,
.c-footer_logo-link:active .c-footer_logo-img {
	filter: drop-shadow(0 0 20px rgba(0, 0, 0, 1));
}


.c-footer_fine-print {
	display: flex;
	justify-content: flex-end;
	border-top: 1px solid var(--color-kult-white);
	padding: 20px 0;
	margin: 0 auto;
	font-size: 10px;
	width: calc(100% - 80px);
	max-width: 100%;
}

@media (min-width: 576px) {

	.c-footer_container {
		flex-direction: row;
	}

	.c-footer_logo-link,
	.c-footer_logo-link:visited {
		align-self: flex-start;
	}
}
